body {
    padding: 0px 10px;
}

#next {
    display: inherit;
}

.person {
    /* border: 1px solid black; */
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* .person-data p {
    visibility: hidden;
} */


.balance {
    padding: 0px 20px;
}

.person-data {
    display: flex;
    flex-direction: row;
}
/* .person p {
    display: inline;
} */